[Desktop Entry]
Type=Application
Name=Universal Stickers
Comment=Sticker and GIF picker
Exec=universal-stickers
Icon=dev.trude.UniversalStickers
Categories=Utility;Graphics;
Keywords=stickers;gifs;clipboard;
Terminal=false
StartupNotify=true
